.select {
  padding: 1.5vw;
  position: absolute;
  top: 2vh;
  right: 1vw;
  border: none;
  border-radius: 100px;
  background-color: transparent;
  background-image: url('../Img/translating-icon.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  appearance: none;
  outline: none;
  margin-right: 5vw;
}

.select:hover{
  transform: scale(1.5);
  transition: 0.3ms;
}