@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");

.container {
  background-image: url("../Img/PPBackground.jpg");
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: fit-content;
}

.containerName {
  margin-top: 10vh;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
}

.name {
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
  color: white;
}

.subtitle {
  margin-top: 1vh;
  color: white;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
}

.textJustify {
    text-align: justify;
}
