@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@100;300&display=swap');

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(53, 52, 52, 0.014);
    height: 10vh;
  }
  
  .nav:hover{
    background-color: rgba(43, 42, 42, 0.301);
  }

  .img{
    width: 15vw;
    margin-left: 2vw;
    margin-top: 1vh;
  }

 

  .somos{
    border: none;
    height: 2vw;
    border-radius: 0.5vw;
    margin-left: 25vw;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 1.4vw;
   background-color: inherit;
    color: rgb(248, 247, 247);
  
  }
  
  .somos:hover{
    color: whitesmoke;
    background-color: rgba(34, 33, 33, 0.836);
    border: none;
}
